server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

spring:
  application:
    name: login-register-app

  datasource:
    url: jdbc:postgresql://localhost:5433/login_register
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: nawarahmed652@gmail.com
    password: uudslyhbokxpngyx
    protocol: smtp
    test-connection: true
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

logging:
  level:
    org.springframework.mail: DEBUG
    jakarta.mail: DEBUG
